@import "tailwindcss";
body {
  height: 100vh;
  background-color: #09153e;
  padding-top: 50px;
  padding-bottom: 50px;
}

:root {
  height: 100%;
}
@theme{
  --color-bg-100:#f25c54;
  --color-bg-200:#545969;
  --color-bg-300:hsl(225, 23%, 24%);
  --color-tx-100:#ededed;
   --color-bg-300:#2f364b
;
}
